* {
  box-sizing: border-box;
}

body {
  background-color: #ecf0f1;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.5s ease-in;
}

.container {
  max-width: 900px;
  margin: auto;
}

h1 {
  font-size: 36px;
}

.tab:nth-child(1) {
  border-top: 1px solid #2c3e50;
  border-bottom: 1px solid #2c3e50;
}

.tab:not(:nth-child(1)) {
  border-bottom: 1px solid #2c3e50;
}

.tab-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin: 0;
}

.tab-label {
  cursor: pointer;
}

.icon {
  width: 20px;
  height: 20px;
}


.accordion-image {
  width: 350px;
}

details > summary {
  list-style: none;
  cursor: pointer;
  transition: margin 150ms ease-out;
}

details > summary::-webkit-details-marker {
  display: none;
}

summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

details[open] summary {
  margin-bottom: 10px;
}

details > section {
  text-align: center;
}